@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lato:wght@300&family=Roboto:wght@100;500&display=swap');

body {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    font-family: 'Lato';
    background: #EBECED;
}


.navbar-brand {
    position: relative;

}


.nav-link {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 14px;
    color: #000000 !important;
    font-family: 'Lato';
    font-weight: bolder;
}

.nav-link:hover {
    color: #69bbbb !important;
}

.active .nav-link {
    color: #30a2be73 !important;
}



#navbarNav {
    transition: background-color 0.2s ease;
}

#navbarNav.navbar-scrolled {
    transition: background-color 0.2s ease;
}

#navbarMenu.navbar-scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    transition: all 0.2s ease;
}

#navbarMenu ul {
    list-style: none;
    text-align: center;
    /* background-color: rgb(255, 255, 255);*/
}

#navbarMenu.navbar-scrolled ul {
    list-style: none;
    text-align: center;
    /*background-color: rgb(165, 192, 250);*/
}

#navbarMenu ul li {
    display: inline-block;
}

.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}

.menu-right-btn:hover {
    color: white;
    background-color: #68b4f3;
}


/*.site-content {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: initial;
}*/

.section-title {
    /*border: 2px solid;*/
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 420px;
    min-width: 250px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

/*.section-title:after {
    background: none repeat scroll 0 0 #fff;
    bottom: -15px;
    color: #333;
    content: "\f0a7";
    left: 45%;
    line-height: 1px;
    padding: 15px 5px;
    position: absolute;
    font-family: "FontAwesome";
  }*/
.section-title:before {
    background: none repeat scroll 0 0 #fff;
    /*bottom: -15px;*/
    color: #333;
    content: "\f016";
    left: 0%;
    line-height: 1px;
    padding: 0px 15px;
    position: relative;

    font-family: "FontAwesome";
}


/*Header style Start*/

header {
    position: relative;
    align-content: center;
    height: 100vh;

    width: 100%;
    background: #161415 url(../img/bg.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;


}


/* vertically center banner section */
/*header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}*/
header .banner {
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    padding-bottom: 30px;
    text-align: center;
    z-index: 1;
    top: 20%;
    position: absolute;
    align-content: center;


    left: 50%;
    margin-left: -300px;




}

header .banner-text {
    width: 100%;
}

header .banner-text h1 {
    /*font: 82px/1.1em 'Open Sans', sans-serif;*/
    color: #fff;
    letter-spacing: 1px;
    margin: 0 auto 70px;
}

header .banner-text h1 span {
    font-weight: 900;
    text-transform: uppercase;
}


header .banner-text h3 {
    /*font-family: 'Raleway', sans-serif;*/
    color: #FEFEFE;
    margin: 50px auto;
    width: 70%;
    font-size: 22px;
}

header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
    font-weight: bold;
}

header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}

/* arrow link */
header .arrow a {
    position: absolute;
    bottom: 130px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    z-index: 3;
    border-radius: 100%;
    -webkit-animation: updown .5s linear 1s infinite alternate;
    /* Chrome, Safari, Opera */
    animation: updown .5s linear 1s infinite alternate;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes updown {
    from {
        -webkit-transform: scale(1);
        bottom: 130px;
    }

    to {
        -webkit-transform: scale(1.2);
        bottom: 125px;
    }
}

/* Standard syntax */
@keyframes updown {
    from {
        transform: scale(1);
        bottom: 130px;
    }

    to {
        transform: scale(1.2);
        bottom: 125px;
    }
}


header .arrow a:hover {
    color: #11ABB0;
}

/* quicklink links */

#quicklink {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: block;
    z-index: 2;
}

.quicklink-container {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}


.quicklink-container .quicklink {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.quicklink-container .quicklink li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.quicklink-container .quicklink li a {
    color: #fff;
}

.quicklink-container .quicklink li a:hover {
    color: #11ABB0;
}


/* Header Style End*/
/* ------------------------------------------------------------------ */
/* 4. About Section
/* ------------------------------------------------------------------ */

#about {
    background: url(../img/img-test1.jpg) no-repeat fixed center center / cover;
    overflow: hidden;
}

#about a,
#about a:visited {
    color: #fff;
}

#about a:hover,
#about a:focus {
    color: #63E46F;
}

#about h1 {
    color: #fff;
    border-color: #dedede;
    margin-bottom: 60px;
    width: 400px;
}

#about h1:hover {
    border-color: #fff;
}


#about h2 {
    font: 22px/30px 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
}


#about h3 {
    border-bottom: 3px solid #fff;
    color: #fff;
    font: 400 18px/24px "Raleway", sans-serif;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: center;
}



#about .section-title:before {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    content: "\f007";
}

#about p {
    line-height: 30px;
    color: rgb(70, 56, 56);
}

.pp-container {
    display: block;
    margin: 5px auto;
    padding: 10px;
    width: 225px;
}

#about .profile-pic {
    /*border: 5px solid #b3ccff;*/
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    height: 200px;
    margin: 15px auto;
    position: relative;
    width: 100%;
    z-index: 2;
}

#about figure {
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}

#about figcaption {
    text-align: center;
    color: #fff;
    padding: 8px;
}

#about figcaption h2 {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

#about figcaption h3 {
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    font-family: "Raleway", sans-serif;
}


#about .download {
    margin-top: 25px;
    width: 90%;
    float: none;
}

#about .button {
    background: none repeat scroll 0 0 #63E46F;
    display: inline;
    margin-right: 10px;
    margin-top: 6px;
}

#about .bio-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

#about .bio-inner {
    padding: 0;
}

#about .bio-left {
    background: rgba(0, 0, 0, 0.6);
    height: 500px;
    padding: 60px 30px;
}

#about .main-col {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    height: 500px;
    padding: 60px;
}

.arrow-left {
    border-bottom: 25px solid transparent;
    border-right: 25px solid rgba(0, 0, 0, 0.5);
    border-top: 25px solid transparent;
    height: 0;
    left: -25px;
    position: absolute;
    top: 40%;
    width: 0;
    z-index: 10;
}


#about .download .button {
    margin-top: 6px;
    background: #63E46F;
}

#about .download .button:hover {
    background: #fff;
    color: #2B2B2B;
}

#about .button i {
    margin-right: 15px;
    font-size: 20px;
}


.h2 {
    text-transform: uppercase !important;
}

.about-area .container-fluid {
    background-image: url('../img/aboutPlane.jpg');
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 55% 155%;
}

.about-title {
    background-color: whitesmoke;
}

.site-title,
.site-desc {
    color: white;
    font-family: 'Roboto';
}

.site-title {
    margin-top: 0%;
    margin-bottom: 6%;
    font-size: 50px;
}

.site-desc {
    font-size: 14px;
    /*padding-left: 15%;*/
}

.site-btn {
    margin-top: 10%;
    margin-bottom: 40%;
    margin-left: 25%;
    background-color: white;
    color: black;

}

.section-resume {
    margin-top: 8%;

}

.heading-1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 36px;
    font-family: 'Lato';
    color: #7dbbee;
}

.section-resume .para-resume {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-resume .card-text,
.para-resume {
    color: #355058be;
}

.section-resume {
    margin-bottom: 5%;
}

.card {
    margin-bottom: 3%;
    width: 20rem;
}

.text-anim:before {
    content: '';
    animation: animate infinite 10s;
}

@keyframes animate {
    0% {
        content: 'Freelancer';
    }

    20% {
        content: 'Engineer';
    }

    40% {
        content: 'Developper';
    }

    60% {
        content: 'Project Manager';
    }

    80% {
        content: 'Designer';
    }

    100% {
        content: 'Creative';
    }
}